.form-container {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;

  .example-form {
    min-width: 150px;
  }

  .example-list {
    position: absolute;
    z-index: 100;
    background-color: white;
    border: 0.5px solid #ccc;
    border-radius: 3%;
    width: 100%;
  }
}
